/*.btn {
	height: 75px;
	width: 23%;
	border-top: : 2px;
	background-color: grey;
	margin: 1px;*/
	

	/*display: inline-block;*/
	/*white-space: nowrap;*/
}

.row {
	float: left;
	clear: left;
	width: inherit;
	/*margin-left: 10px;*/
	display: block;
}
#screen {
	/*margin-top: 20px;*/
	/*margin-bottom: 1px;*/
	height: 75px;
	/*width: 66%;*/
	background-color: blue;
	/*margin-left: 27px;*/

}

button {
  height: 50px;
  /*border: 2px solid #293132;*/
  /*box-shadow:
        inset 0 0 2px 0 rgba(255,255,255,.4),
        inset 0 0 3px 0 rgba(0,0,0,.4),
        inset 0 0 3px 5px rgba(0,0,0,.05),
        2px 2px 4px 0 rgba(0,0,0,.25);*/
  box-shadow:
  	inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
  	inset 0 1px 1px rgba(255,255,255,0.8);
  /*width: auto;*/
  /*margin: 10px 4px;*/

}

#calc_body {
	width: 300px;
	background-color: #293132;
/*	padding: 10px;*/
}
/*<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">*/